@page "/"
@rendermode InteractiveServer
@using Game = Namotion.Interceptor.SampleBlazor.Models.Game
@using Player = Namotion.Interceptor.SampleBlazor.Models.Player
@using Namotion.Interceptor
@using Namotion.Interceptor.Blazor

@inject Game Game
@inject Player Player

<PageTitle>The Game</PageTitle>

<TrackingScope Context="((IInterceptorSubject)Game).Context" ShowDebugInfo="true">
    <h1>Hi @Player.Name</h1>

    <p>
        My name <input @bind-value="@Player.Name" />
    </p>

    <p>
        Players in the game:

        <ul>
            @foreach (var player in Game.Players)
            {
                <li>@player.Name</li>
            }
        </ul>

        Last update: @DateTimeOffset.UtcNow
    </p>
</TrackingScope>
